.button {
  padding: 0.75rem 1rem;
  background-color: #D2E1FF;
  border: none;
  color: #3A79FF;
  font-weight: 700;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #3A79FF;
  color: #fff;
}